@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.drop {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
}
